* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* style the top of the page */

header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, blue 0%, darkblue 50%, black 90% );
    color: white;
}

.wb-top h2 {
    display: flex;
    align-items: center;
}

/* style the body of the page */

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

/* style the search box column */

.search-box {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.search-form {
    display: flex;
    flex-direction: column;
    border-bottom: 5px black solid;
    width: 100%;
}

.cs-label {
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
}

.cs-input {
    margin: 10px 10px;
    font-size: larger;
    line-height: 1.8;
    text-align: center;
}

.cs-btn {
    color: white;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-size: larger;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px 10px 10px 10px;
}

.cs-btn:hover {
    background-color: blue;
}

.p-search-btn {
    color: black;
    background-color: grey;
    border: none;
    border-radius: 5px;
    width: 90%;
    line-height: 1.5;
    font-size: large;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: auto;
}

.p-search-btn:hover {
    background-color: black;
    color: white;
}

/* style the weather info portion of the page */

.weather-box {
    margin-left: 15px;
    width: 75%;
}

.wb-top {
    border: 2px black solid;
    padding: 5px;
    line-height: 1.8;
}

.weather-icon {
    width: 40px;
    height: 40px;
}

/* style the forcast portion of the weather box */

.five-day-label {
    margin-bottom: 5px;
    margin-top: 5px;
}

.forcast-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f-box {
    background-color: slategray;
    color: white;
    line-height: 1.5;
    padding: 5px;
    width: 19%;
}

/* style the UV Index warning states */

.uv-danger {
    padding: 1px 5px;
    border-radius: 5px;
}

.uv-noneFound {
    background-color: white;
    color: black;
}

.uv-low {
    background-color: green;
    color: white;
}

.uv-moderate {
    background-color: yellowgreen;
    color: white;
}

.uv-high {
    background-color: yellow;
    color: black;
}

.uv-very-high {
    background-color: orange;
    color: white;
}

.uv-severe {
    background-color: red;
    color: white;
}